<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Prop-65</title>
</head>
<body>
<div style="text-align: justify;"><big style="color: rgb(255, 0, 0);"><span
 style="font-family: Arial;">Please Note: Orders Shipped to California</span></big><br
 style="font-family: Arial; color: rgb(255, 0, 0);">
<big style="color: rgb(255, 0, 0);"><span style="font-family: Arial;">Destinations
Require Sales tax to be Collected.</span></big><br
 style="font-family: Arial; color: rgb(255, 0, 0);">
<big style="color: rgb(0, 0, 153);"><span style="font-family: Arial;">Also,
Purchases sent to California addresses</span></big><br
 style="font-family: Arial; color: rgb(0, 0, 153);">
<big style="color: rgb(255, 0, 0);"><span style="font-family: Arial;"><span
 style="color: rgb(0, 0, 153);">are required to be shown</span>&nbsp;</span><a
 style="font-family: Arial;"
 href="https://www.p65warnings.ca.gov/sites/default/files/art_6_business_qa_internet_warnings.pdf"
 target="_blank">Prop 65 INFO</a><span style="font-family: Arial;">.</span></big><br>
</div>
&nbsp;
</body>
</html>
